.block.bundle-hero {
  position: relative;
  height: 250px;

  color: white;

  img {
    max-width: 980px;
    height: auto;
    margin: 0 -2em 0 -1em;
  }

  .field {
    position: absolute;
  }

  .field--name-field-hero-text {
    @extend %oswald;
    font-size: 60px;
    line-height: 120px;
  }
  .field--name-body {
    top: 30%;
    max-width: 70%;
  }

  .field--name-field-hero-link {
    bottom: 1em;

    a {
      @include a-button();
    }
  }
}
